
body{
    background-color: #FFE4D6;
} 
        
#navlist {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #D988B9;
text-align: center;
}

#navlist li {
display: inline-block;

}

#navlist li a {
display: block;
color: #FACBEA;
text-align: center;
padding: 16px;
text-decoration: none;
}

#navlist li a:hover {
background-color: #FACBEA;
color: white;
}
#navlist li a:active {
background-color: #B0578D;

}
 .text {
color: #C1D8C3;
font-size: 20px;
position: absolute;
bottom: 15%;
left: 50%;
-webkit-transform: translate(-50%, 50%);
-ms-transform: translate(-50%, 50%);
transform: translate(-50%, 50%);
text-align: center;}

img.top{
    vertical-align: top;
}
img.mid{vertical-align: middle;}
img.bot{vertical-align: bottom;}
.container {
    position: relative;
    width: 50%;
    }

.image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
    }

.overlay {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
height: 100%;
width: 100%;
opacity: 0;
transition: .5s ease;
background-color: #CD5C08;
border-radius: 50%;

}

.container:hover .overlay {
opacity: 1;
}